@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700;900&display=swap');

:root {
    --color-main: #ca0303;
    --color-hover: #813838;
    --link-hover: #0056b3;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background: #f5f5f5;
    font-size: 14px;
    overflow-x: hidden;
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

div, p, h1, h2, h3, h4, h5, blockquote, span, img, video {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

input,
select,
textarea {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

header {
    position: relative;
    z-index: 3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

header .header-top {
    position: relative;
    z-index: 2;
    background: #f9faf9;
    padding: 5px 0;
}

header .header-top .header-top--logo a {
    display: inline-block;
}

header .header-top .header-top--logo a img {
    width: 100%;
    max-width: 180px;
}

header .header-top .header-top--contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

header .header-top .header-top--contact ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .header-top .header-top--contact ul li:not(:last-of-type) {
    margin-right: 70px;
}

header .header-top .header-top--contact ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

header .header-top .header-top--contact ul li a .icon {
    margin-right: 20px;
    color: #857e7e;;
    font-size: 2.4em;
    transition: .3s all ease;
}

header .header-top .header-top--contact ul li a .text {
    font-size: 1.2em;
    color: #4e4e4e;
    font-weight: 400;
    transition: .3s all ease;
}

header .header-top .header-top--contact ul li a .text strong {
    font-size: 1.05em;
    color: var(--color-hover);
    margin-bottom: 5px;
    display: block;
    line-height: 1;
    transition: .3s all ease;
}

header .header-top .header-top--contact ul li a:hover .icon,
header .header-top .header-top--contact ul li a:hover .text {
    color: var(--color-hover);
}

header .header-bottom {
    background: var(--color-main);
}

header .header-bottom .header-bottom--navigation {
    position: relative;
}

header .header-bottom .header-bottom--navigation > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

header .header-bottom .header-bottom--navigation > ul > li {
    position: relative;
}

header .header-bottom .header-bottom--navigation > ul > li:before {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 50px;
    height: 4px;
    background: #fff;
    transition: .3s all ease-out;
}

header .header-bottom .header-bottom--navigation > ul > li > a {
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 1.1em;
    padding: 15px 30px;
    display: inline-block;
    transition: .3s all ease-out;
}

header .header-bottom .header-bottom--navigation > ul > li:hover > a {
    background-color: #860303;
}

header .header-bottom .header-bottom--navigation > ul > li:hover:before {
    transform: translateX(-50%) scaleX(1);
}

.banner {
    position: relative;
    background: #fff center center/cover no-repeat;
    width: 100%;
    height: 500px;
}

.banner a {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-top {
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 0 1px rgb(0 0 0 / 20%);
}

.side-heading {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-main);
}

.side-heading span {
    display: inline-flex;
    font-size: 1.1em;
    background-color: var(--color-main);
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 15px 3px;
}

.main-top .side-inner {
    border: 1px solid #e5e5e5;
    padding: 15px;
    background: #F5F6F7;
}

.swiper-container {
    padding-bottom: 50px;
}

.swiper-container .swiper-wrapper {
    height: unset;
}

.swiper-container .swiper-pagination span {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #a9a9a9;
    width: 14px;
    height: 14px;
    border-radius: 0;
    margin: 0 8px !important;
    transform: rotate(45deg);
    position: relative;
    background: #fff;
    opacity: 1;
}

.swiper-container .swiper-pagination span:before {
    position: absolute;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: #e9e9e9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s all ease-in-out;
}

.swiper-container .swiper-pagination span.swiper-pagination-bullet-active:before {
    background: var(--color-main);
}

.main-top .left-side .side-inner .side-box ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.list-file {
    max-height: 320px;
    overflow-y: auto;
}

.list-file::-webkit-scrollbar {
    width: .3rem;
}

.list-file::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.list-file::-webkit-scrollbar-thumb {
    background: #888;
}

.list-file::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main-top .left-side .side-inner .side-box ul li:not(:last-of-type) {
    border-bottom: 1px dotted #d1d1d1;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.main-top .left-side .side-inner .side-box ul li a {
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 1.5px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #545454;
}

.main-top .left-side .side-inner .side-box ul li a i {
    margin-right: 3px;
    color: #121212;
}

.main-top .left-side .side-inner .side-box ul li a:hover {
    color: var(--link-hover);
}

.main-top .side-inner + .side-inner {
    margin-top: 30px;
}

.main-top .middle-side .side-inner {
    background: #fff;
    border: 0;
}

.blog-item {
    position: relative;
    overflow: hidden;
}

.blog-item a {
    display: inline-block;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.blog-item a .blog-item--image {
    display: block;
    position: relative;
    padding-bottom: 75%;
}

.blog-item a .blog-item--image span {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    overflow: hidden;
    transition: .3s all ease-in;
}

.blog-item a .blog-item--meta .meta-content .meta-content--title {
    font-size: 1.1em;
    color: #474747;
    font-weight: 700;
    transition: .3s all ease-in;
    line-height: 1.5;
    letter-spacing: 1.5px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
}

.blog-item a .blog-item--meta .meta-content .meta-content--date {
    font-size: .95em;
    color: #898989;
    font-weight: 300;
}

.blog-item a .blog-item--meta .meta-content .meta-content--date:before {
    content: "";
    display: block;
    margin: 18px auto 15px;
    width: 36px;
    border-bottom: 1px solid var(--color-main);
}

.blog-item a .blog-item--meta .meta-content .meta-content--desc:before {
    content: "";
    display: block;
    margin: 18px auto 15px;
    width: 36px;
    border-bottom: 1px solid var(--color-main);
}

.blog-item a .blog-item--meta .meta-content .meta-content--desc {
    margin-top: 5px;
    font-size: 0.95em;
    letter-spacing: 1.5px;
    color: #676767;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    font-weight: 300;
}

.blog-item a:hover {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-box-shadow: 0 50px 30px -40px rgb(0 0 0 / 10%);
    box-shadow: 0 50px 30px -40px rgb(0 0 0 / 10%);
}

.blog-item a:hover .blog-item--image span,
.blog-item a:hover .blog-item--meta .meta-content .meta-content--title {
    opacity: 0.74;
}

.main-top .right-side {
    padding-top: 15px;
}

.main-top .right-side {
    position: sticky;
    top: 0;
}

.main-bottom {
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 0 1px rgb(0 0 0 / 20%);
}

.main-bottom .side-inner {
    border: 1px solid #e5e5e5;
    padding: 15px;
    background: #F5F6F7;
}

.main-bottom .side-inner .blog-small ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.main-bottom .side-inner .blog-small ul > li:not(:last-of-type) {
    margin-bottom: 20px;
}

.main-bottom .side-inner .blog-small ul > li > a {
    display: flex;
    align-items: flex-start;
}

.main-bottom .side-inner .blog-small ul > li > a .blog-thumb {
    width: 130px;
    margin-right: 22px;
    flex-shrink: 0;
}

.main-bottom .side-inner .blog-small ul > li > a .blog-thumb .blog-thumb--content {
    padding-bottom: 66.36364%;
    position: relative;
    display: block;
}

.main-bottom .side-inner .blog-small ul > li > a .blog-thumb span {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    overflow: hidden;
    transition: .3s all ease-in;
}

.main-bottom .side-inner .blog-small ul > li > a .blog-content {
    padding: 5px 0;
}

.main-bottom .side-inner .blog-small ul > li > a .blog-content .blog-content--title {
    font-size: 1em;
    color: #474747;
    font-weight: 700;
    transition: .3s all ease-in;
    line-height: 1.5;
    letter-spacing: 1.5px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
}

.main-bottom .side-inner .blog-small ul > li > a .blog-content .blog-content--date {
    font-size: .95em;
    color: #898989;
    font-weight: 300;
    margin-top: 10px;
}

.main-bottom .side-inner .blog-small ul > li > a:hover .blog-thumb span,
.main-bottom .side-inner .blog-small ul > li > a:hover .blog-content .blog-content--title {
    opacity: 0.74;
}

.partner {
    padding: 50px 0;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.headline {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
}

.headline:before {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    border-bottom: 1px solid var(--color-main);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.headline span {
    color: var(--color-main);
}


.partner:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background: rgba(255, 255, 255, .687);
    filter: blur(5px);
    z-index: 1;
}

.partner .container {
    position: relative;
    z-index: 2;
}

.partner .partner-thumb {
    -webkit-transition: background-color .4s ease-in-out, box-shadow .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out, box-shadow .4s ease-in-out;
    -ms-transition: background-color .4s ease-in-out, box-shadow .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out, box-shadow .4s ease-in-out;
    transition: background-color .4s ease-in-out, box-shadow .4s ease-in-out;
    height: 220px;
    line-height: 220px;
    margin: 0 0 2px;
    vertical-align: middle;
    position: relative;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.partner .partner-thumb a {
    display: block;
    line-height: 220px;
    height: 100%;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.partner .partner-thumb a img {
    display: inline-block;
    padding: 0 20px 40px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    vertical-align: middle;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.partner .partner-thumb a span {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    color: #292929;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 25px;
    text-align: center;
    opacity: 0;
    font-size: 1.1em;
    line-height: 22px;
    font-weight: 700;
}

.partner .partner-thumb:hover {
    -webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    background-color: #ffffff;
}

.partner .partner-thumb:hover a span {
    opacity: 1;
}

footer .footer-top {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}

footer .footer-top .footer-inner .widget > a {
    display: inline-block;
}

footer .footer-top .footer-inner .widget > a > img {
    max-width: 150px;
    width: 100%;
    vertical-align: middle;
}

footer .footer-top .footer-inner .widget > p {
    margin-top: 15px;
    margin-bottom: 0;
    color: #595959;
    font-size: .95em;
    letter-spacing: 1.5px;
}

footer .footer-top .footer-inner .widget .widget-heading {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 35px;
    padding-bottom: 20px;
    position: relative;
}

footer .footer-top .footer-inner .widget .widget-heading:before {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    border-bottom: 1px solid var(--color-main);
    bottom: 0;
    left: 0;
}

footer .footer-top .footer-inner .widget .widget-list > ul,
footer .footer-top .footer-inner .widget .widget-link > ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

footer .footer-top .footer-inner .widget .widget-list > ul > li {
    margin-bottom: 5px;
}

footer .footer-top .footer-inner .widget .widget-link > ul > li {
    margin-bottom: 12px;
}

footer .footer-top .footer-inner .widget .widget-list > ul > li > a,
footer .footer-top .footer-inner .widget .widget-link > ul > li > a {
    font-size: .95em;
    color: #323423;
    letter-spacing: 1.5px;
    transition: .3s all ease-out;
    font-weight: 700;
}

footer .footer-top .footer-inner .widget .widget-iframe iframe {
    vertical-align: middle;
    height: 200px;
    width: 100%;
    border: 0;
}

footer .footer-top .footer-inner .widget .widget-link > ul > li > a > i {
    margin-right: 8px;
    color: var(--color-main);
}

footer .footer-bottom {
    padding: 10px 0;
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 10px;
    font-weight: 300;
}

footer .footer-bottom a {
    color: #414141;
    font-weight: 600;
    transition: .3s all ease-out;
}

footer .footer-bottom a:hover {
    color: var(--color-main);
}

.main-aboutus {
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 0 1px rgb(0 0 0 / 20%);
}

.main-aboutus .right-side {
    position: sticky;
    top: 0;
    margin-top: 15px;
}

.main-aboutus .left-side .headline {
    text-align: left;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.main-aboutus .left-side .headline:before {
    left: 0;
    transform: translateX(0);
}

.main-aboutus .left-side .inner .content {
    font-size: 1.05em;
    color: #403d3d;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: 1.5px;
}

.main-aboutus .left-side .inner .content p:last-of-type {
    margin-bottom: 0;
}

.main-aboutus .left-side .inner figure {
    width: 100%;
    margin-bottom: 20px;
}

.main-aboutus .left-side .inner figure img {
    max-width: 100%;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
}

.main-aboutus .left-side .inner figure figcaption {
    font-size: .85em;
    color: #a9a9a9;
    text-align: center;
    margin-top: 5px;
}

.main-aboutus .left-side .inner .image-slide {
    padding: 5px;
    background: #e9e9e9;
}

.main-aboutus .left-side .inner .image-slide > a {
    padding-bottom: 66.36364%;
    position: relative;
    display: block;
}

.main-aboutus .left-side .inner .image-slide > a span {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    overflow: hidden;
    transition: .3s all ease-in;
}

.main-aboutus .left-side .inner + .inner {
    margin-top: 30px;
}

.contact-map {
    background: #fff;
    margin: 15px 0;
    padding-top: 30px;
}

.contact-main .middle-side .headline {
    text-align: left;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.contact-main .middle-side .headline:before {
    left: 0;
    transform: translateX(0);
}

.contact-main .middle-side .side-inner ul li {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-main .middle-side .side-inner ul li .contactIcon {
    margin-right: 20px;
    border: 1px solid #e5e5e5;
    font-size: 1.6em;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F6F7;
}

.contact-main .middle-side .side-inner ul li .contactIcon > a {
    color: var(--color-main);
}

.contact-main .middle-side .side-inner ul li .contactText {
    width: 100%;
}

.contact-main .middle-side .side-inner ul li .contactText > a {
    display: inline-block;
    color: #333;
}

.contact-main .middle-side .side-inner ul li .contactText > a h6 {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 1.5px;
}

.contact-main .middle-side .side-inner ul li .contactText > a p {
    font-size: 1em;
    letter-spacing: 1.5px;
    margin-bottom: 0;
}

.contact-map iframe {
    width: 100%;
    height: 300px;
    display: block;
    vertical-align: middle;
    border: 0;
}

.slider-event {
    box-shadow: 0 0 1px rgb(0 0 0 / 20%);
    background: #fff;
    padding: 15px;
    margin: 15px -15px;
}

.slider-event .event-image {
    background: #fff;
    padding: 5px;
}

.slider-event .event-image > a {
    display: block;
    position: relative;
    padding-bottom: 75%;
    width: 100%;
}

.slider-event .event-image > a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.list-school {
    box-shadow: 0 0 1px rgb(0 0 0 / 20%);
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}

.table-jvca {
    box-shadow: 0 0 1px rgb(0 0 0 / 20%);
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}

.table-jvca .table {
    font-size: 1em;
}

.table-jvca .table thead tr:first-of-type {
    background: var(--color-main);
    color: #fff;
}

.table-jvca .table tr th,
.table-jvca .table tr td {
    white-space: nowrap;
}

.table-jvca .table-responsive::-webkit-scrollbar {
    height: .3rem;
    cursor: pointer;
}

.table-jvca .table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-jvca .table-responsive::-webkit-scrollbar-thumb {
    background: #888;
}

.table-jvca .table-responsive::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.price-list {
    box-shadow: 0 0 1px rgb(0 0 0 / 20%);
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}

.pricing {
    background: #f5f5f5;
    text-align: center;
    margin: 0 15px;
    box-shadow: 0 0 3px rgba(0,0,0,.15);
}

.pricing .pricing-header {
    color: #fff;
    background: linear-gradient(to top right, var(--color-main) 50%, #ee2020 50%);
    padding: 30px 0 28px;
    margin: 0 0 15px;
    box-shadow: 0 5px 7px -1px rgba(0, 0, 0, 0.2);
    outline: 2px solid #fff;
    outline-offset: -15px;
    position: relative;
}

.pricing .pricing-header:after {
    content: "";
    background: linear-gradient(to top right, var(--color-main) 50%, transparent 50%);
    width: 30px;
    height: 30px;
    box-shadow: -5px 5px 7px rgba(0, 0, 0, 0.2);
    transform: translateX(-50%) rotate(-45deg);
    position: absolute;
    bottom: -15px;
    left: 50%;
}

.pricing .title {
    color: #fff;
    font-size: 1.8em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.pricing .price-value {
    color: var(--color-main);
    margin: 0 0 15px;
}

.pricing .price-value .amount {
    font-size: 2.5em;
    font-weight: 800;
}

.pricing .price-value .duration {
    font-size: 15px;
    margin: -5px 0 0;
    display: block;
}

.pricing .content-list {
    background: linear-gradient(to top right, var(--color-main) 50%, #ee2020 50%);
    padding: 30px 0;
    margin: 0 0 35px;
    box-shadow: 0 5px 7px -1px rgba(0, 0, 0, 0.2);
    outline: 2px solid #fff;
    outline-offset: -15px;
    list-style: none;
    position: relative;
}

.pricing .content-list:after {
    content: "";
    background: linear-gradient(to top right, var(--color-main) 49%, transparent 50%);
    width: 30px;
    height: 30px;
    box-shadow: -5px 5px 7px rgba(0, 0, 0, 0.2);
    transform: translateX(-50%) rotate(-45deg);
    position: absolute;
    bottom: -15px;
    left: 50%;
}

.pricing .content-list li {
    color: #fff;
    font-size: 1.05em;
    font-weight: 300;
    line-height: 25px;
    text-align: left;
    text-transform: capitalize;
    padding: 5px 5px 5px 30px;
    margin: 0 19px 10px;
    position: relative;
    transition: .2s all ease;
    border-bottom: 1px dotted #9f9696;
}

.pricing .content-list li:last-child {
    margin: 0 15px;
}


.pricing .content-list li:before {
    color: #fff;
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    font-size: 16px;
    font-weight: 900;
    position: absolute;
    top: 6px;
    left: 8px;
}